
  .wrapper2 {
     display: flex;
     width: 405px;
     justify-content:space-between;
     
  }
  .d4{
   width: 100px;
      height: 100px;
      border: 1px solid;
      background: rgb(228, 42, 13);
 }
